.main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}

#posts {
  display: flex;
  flex-direction: column; /* Set the flex direction to column */
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.post-box {
  background-color: transparent;
  width: 300px;
  border: 2px solid #19376d;
  padding: 10px;
}
#error {
  font-style: bold;
  color: red;
  background-color: black;
}
